# Aliases
alias vim='vim'
alias nano='nano -c'
alias emacs='emacs -nw'
alias :q='logout'
alias curl='curl -s'
alias curl-with-time='curl -w "connect: %{time_connect} start_transfer: %{time_starttransfer} total: %{time_total}\n"'

# Git related aliases
alias g='git'
alias gst='git status'
alias gl='git pull'
alias gpr='git pull --rebase'
alias gup='git fetch && git rebase'
alias gp='git push'
alias gd='git diff'
alias gdv='git diff -w "$@" | vim -R -'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'

# Go to current project
alias p='cd `cat $HOME/.current_project`'
alias p.='echo `pwd` > $HOME/.current_project'

alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

# here so it#s picked up by zsh
alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias lh='ls -Shl --group-directories-first'
alias ldir='ls -d */'

alias l='ls -lFh'
alias la='ls -lAFh'
alias lr='ls -tRFh'
alias lt='ls -l'
alias ll='ls -l'
alias ldot='ls -d .*'
alias lS='ls -1FSsh'
alias lart='ls -1Fcart'
alias lrt='ls -1Fcrt'
alias hidden='ls -a | grep "^\."'

alias zshrc='vim ~/.zshrc'
alias t='tail -f'

# command line head / tail
alias H='| head'
alias T='| tail'
alias G='| grep'
alias L="| less"
alias M="| most"
alias LL="2>&1 | less"
alias CA="2>&1 | cat -A"
alias NE="2> /dev/null"
alias NUL="> /dev/null 2>&1"
alias P="2>&1| pygmentize -l pytb"

alias dud='du -d 1 -h'
alias duf='du -sh *'
alias du='du -ach | sort -h'
alias df='df -Tha --total'
alias free='free -mt'
alias ps='ps auxf'
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias h='history'
alias hgrep="history | grep"
alias help='man'
alias p='ps -f'
alias sortnr='sort -n -r'
alias unexport='unset'

alias whereami=display_info

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

